<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Personas</h3>
        </div>
        <div class="card-body">
          <form action="">
              <div class="form-group">
                <label for="">Nombre:</label>
                <input [(ngModel)]="persona.nombre" name="nombre" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Apellido:</label>
                <input [(ngModel)]="persona.apellido" name="apellido" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Imagen:</label>
                <input [(ngModel)]="persona.img" name="img" type="file" class="form-control">
              </div>
              <button (click)="Guardar()" class="btn btn-primary">Guardar</button>
          </form>  
        </div>
    </div>
</div>

